/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/npm-debug.log
/public/css/app.css
/public/css/manage.css
/public/js/app.js
/public/js/manage.js
/public/mix-manifest.json
