.login-avatar{
    margin-bottom: 20px;
    &>img{
        @include border-radius(50%);
    }
}

.navbar-top-links li .logout {
    padding: 20px 10px;
    min-height: 50px;
    background-color: transparent;
    border: 0;
}

.nav.navbar-right > li .logout{
    color: #999c9e;
}

.nav.navbar-top-links > li .logout:hover, .nav.navbar-top-links > li .logout:focus {
    background-color: transparent;
}

.width-5-percent {
    width:5%
}
.width-10-percent {
    width:10%
}