@import "common";

body{
    background-color: $bgc;
}

.noborder{
    border: 0;
}

/*********************头部*********************/
header{
    background-color: $hue;
    text-align: center;
    $headerLen: 42px;
    padding-top: $headerLen;
    padding-bottom: $headerLen;
  h1{
      color: #FFFFFF;
  }
}

.main-navigation{
  font-size: 14px;
  text-align: center;
  background-color: $card-bgc;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
  border-bottom: 2px solid #e1e1e1;
  .navbar-header{

  }
  .navbar-toggle-button{
      text-align: center;
    i{
        font-size: 2em;
        height: 56px;
        line-height: 56px;
    }
  }
}
.navbar-collapse{
  .menu{
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      position: relative;
      &.active{
        margin-bottom: -2px;
        border-bottom: 2px solid $hue;
      }
      a{
        color: #505050;
        line-height: 4em;
        display: block;
        padding: 0 21px;
      }
    }
  }
}
/*********************头部*********************/

/*********************舞姬详情*********************/
.xd-detail{
  $ano: 120px;
  .nav-tabs{
    margin-bottom: 15px;
  }
  .d-ano{
    width: $ano;
    text-align: center;
  }
  .d-avatar{
    img{
      width: $ano;
      height: $ano;
      display: inline-block;
    }
  }
  .d-name,.d-outfit{
    margin-top: 15px;
  }
  .d-intro{
    width: 100%;
  }
  .d-ci{
  }
    .lv-ipt{
        border: 0;
        width: 30px;
    }
}
/*********************舞姬详情*********************/