.login-avatar{
    margin-bottom: 20px;
    &>img{
        border-radius: 50%;
    }
}

.navbar-top-links li .logout {
    padding: 20px 10px;
    min-height: 50px;
    background-color: transparent;
    border: 0;
}

.nav.navbar-right > li .logout{
    color: #999c9e;
}

.nav.navbar-top-links > li .logout:hover, .nav.navbar-top-links > li .logout:focus {
    background-color: transparent;
}

.actions{
    &>a.btn{
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
    }
}

.pagination-primary{
    &>li>a,&>li>span{
        color: #18a689;
        &:hover,&:focus,&:active:hover,&:active:focus{
            //background-color: #18a689;
            //border-color: #18a689;
            color: #1ab394;
        }
    }
    &>li.active{
        &>a,&>span{
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
            &:hover,&:focus{
                background-color: #1ab394;
                border-color: #1ab394;
            }
        }
    }
}