
// Fonts
//@import "fonts";

// Variables
@import "variables";

//SassCore
@import "../sassCore/function";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";


//通用背景颜色表
$hue: #ab2b2b;
$bgc: #ebebeb;
$card-bgc: #FFFFFF;
$box-borderc: #DDDDDD;

//通用文字颜色表
$white-fc: #FFFFFF;
$head-list-fc: #EEEEEE;

//间距
$spacing: 30px;
$spacing2: 35px;

//响应式界限
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.xwrap{
    $wrap: 35px;
    background-color: #FFF;
    padding: $wrap;
    margin-bottom: $wrap;
    @include border-radius(4px);
}

body{
    background-color: $bgc;
}

a{
    outline: 0 !important;
}

.noborder{
    border: 0;
}

.noline{
    text-decoration: none !important;
}

.mt5{
    margin-top: 5px;
}

.table-text-center{
    th,td{
        text-align: center;
    }
}

.width-5-percent {
    width:5%
}
.width-10-percent {
    width:10%
}